.tool-container {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 0.4em;
  margin: 0.4em;
  border: 1px solid lightgray;
  border-radius: 0.6em;
  span {
    font-size: 12px;
    text-align: center;
    color: gray;
    font-weight: 500;
    padding: inherit;
  }

  .tool {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    .palette {
      list-style: none;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(4, 1fr);
      border: 2px solid lightgray;
      .palette-item {
        width: 1.2em;
        height: 1.2em;
        border: none;
        cursor: pointer;
      }
    }

    .color-input-container {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;

      .color-chooser {
        cursor: pointer;
        width: 2.4em;
        height: 2.4em;
        /* padding: 0.2em; */
        overflow: hidden;
        border-radius: 0.6em;
        border: 2px solid lightgray;
        background-color: white;
      }
      .color-chooser::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      .color-chooser::-webkit-color-swatch {
        border: none;
      }
    }
  }
}
/* * {
  border: 1px solid red;
} */
