.tool-container {
  display: grid;
  place-items: center;
  /* border-radius: 0.4em; */
  border: 2px solid lightgray;
  margin: 5px;
  background-color: white;
  padding: 5px;

  span {
    font-size: 12px;
    text-align: center;
    color: gray;
    font-weight: 500;
  }
  .palette {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;

    .palette-item {
      width: 1.2em;
      height: 1.2em;
      border: none;
      cursor: pointer;
    }
  }

  .color-input-container {
    display: grid;
    place-items: center;
    padding: 5px;

    .color-chooser {
      cursor: pointer;
      border: 1px solid lightgray;
      width: 2.4em;
      height: 2.4em;
    }
  }
}
