.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(229, 229, 229);
  gap: 0.4em;

  .text {
    padding: 0 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6em;

    .dimension,
    .position,
    .current-tool {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
    }
  }

  .zoom {
    padding: 0 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6em;

    button {
      width: 1.6em;
      height: 1.6em;
      color: gray;
      font-size: 0.8em;
      background-color: rgb(255, 255, 255);
      border: 1px solid gray;
      font-weight: bold;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    span.scale-value {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
      font-weight: bold;
    }
  }
}
