.canvas-container {
  position: relative !important;
  transition: transform 200ms ease;
  transform-origin: top left;
  background-color: aqua;
}

.canvas {
  background-color: white;
  z-index: 1 !important;
  display: grid;
}

.canvas-shield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3 !important;
  cursor: crosshair;
}
