.canvas-container {
  /* position: relative !important;

  transition: transform 200ms ease;
  transform-origin: top left; */

  /* height: 100%; */
}

.canvas {
  background-color: white;
  z-index: 1 !important;
}

.canvas-shield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3 !important;
  cursor: crosshair;
}
