.toolbar-canvas-container {
  display: grid;
  grid-template-columns: 130px calc(100% - 130px);

  .toolbar-container {
    background-color: rgb(232, 232, 232);
    /* check this background */
  }

  .canvas-statusbar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 95vh 5vh;

    .canvas-main-container {
      overflow: hidden;
      position: relative;
      background-color: rgb(42, 73, 141);
    }
  }
}
