.toolbar-canvas-container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 130px calc(100% - 130px);

  .toolbar-container {
    background-color: rgb(237, 237, 237);
    height: 100vh;
  }
  .canvas-statusbar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 95vh 5vh;
    background-color: rgb(158, 158, 158);

    .canvas-main-container {
      overflow: auto;
      scrollbar-width: thin;
      cursor: crosshair;
    }

    .status-bar-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      gap: 0.4em;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        padding: 0.2em 0.6em;
        border-radius: 0.4em;
        background-color: rgb(233, 233, 233);
      }
    }
  }
}
