.toolbar-canvas-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px calc(100% - 150px);
  grid-template-rows: repeat(1, 1fr);

  .toolbar-container {
    background-color: rgb(237, 237, 237);
    height: 100%;
    overflow: auto;
  }
  .canvas-statusbar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 95% 5%;

    .canvas-main-container {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: end normal;
      overflow: auto;
      scrollbar-width: thin;
      background-color: rgb(126, 126, 126);
    }

    .status-bar-container {
      display: grid;
      place-items: center;
      background-color: rgb(237, 237, 237);
    }
  }
}
